 <%= partial :navbar %>
 <div class="container">
  <div class="flock" style="float: left">
    <h2>your flock</h2>
    <% @flock.each do |sheep| %>
      <p><%= sheep.name %></p>
      <% end %>
    </div>
  <div class="row bleets">

    <div class="col-md-7" style="float: none; margin: 0px auto;">
       <img src="/img/flock.png" style="display: block; margin: 0 auto; padding: 10px 10px 50px 10px; width: 500px; height: 350px;">
      <form method="post" action="/bleets">
        <fieldset>
          <div class="form-group">
            <label for="content" class="sr-only">Content</label>
            <input type="text" id="content" name="bleet[content]"
               value="" class="form-control">
          </div>
          <div class="form-group">
            <input type="submit" value="bleet" class="btn btn-lg btn-warning" style="position: absolute; right: 310px">
          </div>
        </fieldset>
        <br><br><br>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7" style="float: none; margin: 0px auto;">
        <h2 style="text-align: center;">the flock hath bleeteth...</h2><br>
        <% @bleets_to_print.each do |bleet| %>
        <div class ="bleet">
          <div class="bleetName">
              <p><%= bleet.user.name %></p>
          </div>
          <p><form method="post" action="/follow" style="position: absolute; margin: 15px 0 0 80%;">
            <input type="hidden" name="user_id" value="<%= bleet.user.id %>">
            <input type="submit" value="follow" class="btn btn-info">
          </form></p>
          <div class ="bleetText">
          <p><img src="/img/little_lamb.jpg" style="width: 60px; height: 60px;">
            "<%= bleet.content%>"</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


